*~
Makefile.in
Makefile
/autom4te.cache/
/configure
/doc/*.txt
/man/*.[13]
/depcomp
/install-sh
/missing
/aclocal.m4
/config.h.in
/config.h
/config.log
/config.status
/src/.deps
/src/*.o
/src/foo
/stamp-h1
/src/libfoo.a
/config.guess
/config.sub
/m4
/libtool
/ltmain.sh
/src/.libs/
/src/libfoo.la
/src/libfoo_la-foo.lo
/pkgconfig/libfoo.pc
/libfoo-*.tar.gz
/compile
