Makefile.in
Makefile
/autom4te.cache/
/configure
/doc/*.txt
/man/*.[13]
/depcomp
/install-sh
/missing
/aclocal.m4
/config.h.in
/config.h
/config.log
/config.status
/src/.deps
/src/*.o
/src/foo
/stamp-h1
